.nav-container {
  background-color: #1f1d29;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23px;
}

.nav-ul__left,
.nav-ul__right {
  display: flex;
  padding: 0;
}

.nav-ul__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.nav-ul__item {
  margin: 0 10px 0 0;

}

.nav-ul__item :first-child {
  color: #d41737;

}



@media only screen and (max-width: 768px) and (min-width: 481px) {

  .nav {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }


  .nav-ul__left,
  .nav-ul__right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .nav-ul__item {
    font-size: 12px;
    padding-top: 3px;
  }

}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .nav {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 100%;
  }


  .nav-ul__left,
  .nav-ul__right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px
  }

  .nav-ul__item {
    font-size: 10px;
  }
}